/* Full viewport height and centered content */


.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  margin-top: 0px;
  position: absolute;
  bottom: 15%;
  left: 15%;
}

.login-container.dark .login-form {
  background-color: #333e40;
  color: #c8d2d0;
}

.login-container.dark .login-form h3 {
  color: #c8d2d0;
}

.login-container.dark .login-form .btn-primary {
  background-color: #ffffff;
  color: #333e40;
}

.login-container.dark .login-form .btn-primary:hover {
  background-color: #888b8c;
}

.login-form {
  text-align: center;
  width: 60%;
  border-radius: 50px;
  background-color: #c8d2d0;
  box-shadow: 12px 12px 12px 12px rgba(0, 0, 0, 0.1);
  display: block;
  flex-direction: column;
  font-weight: 600;
}

/* Header styling */
.login-form h3 {
  margin-bottom: 30px;
  color: #333e40;
  font-size: 28px;
  font-weight: 600;
  margin-top: 30px;
}

/* Input field styling */
.login-form .form-control {
  width: 50%;
  margin-left: 25%;
  padding: 12px;
  margin-bottom: 15px;
  margin-top: 15px;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  font-size: 16px;
  display: block;
}

/* Button styling */
.login-form .btn-primary {
  width: 20%;
  margin-left: 40%;
  padding: 12px;
  border-radius: 8px;
  background-color: #535353;
  border: none;
  color: #f3f1f1;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s;
  margin-top: 25px;
}

.login-form .btn-primary:hover {
  background-color: #414141;
}

/* Link styling */
.login-form .forgot-password {
  margin-top: 20px;
}

.login-form .forgot-password a {
  color: #fc7a56;
  text-decoration: none;
}

.login-form .forgot-password a:hover {
  text-decoration: underline;
}

.continue-p {
  font-size: 16px;
}

.sign-google {
  width: 50%;
  margin-left: 25%;
  margin-bottom: 20px;
}


@media (max-width:1000px) {
  .login-form {
    width: 87%;
    margin-left: 4%;
  }

  .login-container {
    left: 0%;
   top: 20%;
  
  }

  .login-form .btn-primary {
    width: 30%;
    margin-left: 35%;
    margin-top: 15px;
  }
}